* {
  margin: 0;
}

.subHeader {
  background-image: linear-gradient(
      rgba(30, 31, 36, 0.377),
      rgba(4, 9, 30, 0.068)
    ),
    url('../../images/aboutUs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
  text-align: center;
}
.subHeader h1 {
  font-size: 2.5rem;
  color: red;
}
.subHeader p {
  font-size: 1.5rem;
}
.subHeader .button {
  border: none;
  background-color: transparent;
  width: 8rem;
  color: blue;
  font-size: 1.5rem;
  cursor: pointer;
}
.aboutContent {
  display: flex;
  align-items: center;
  background-color: rgb(235, 228, 228);
  justify-content: center;
  gap: 1.5rem;
}
.aboutBox img {
  width: 30rem;
}
.aboutText {
  overflow: hidden;
  text-align: start;
  width: 30rem;
}
.aboutText h3 {
  color: chartreuse;
}
.aboutText p {
  font-size: 1.2rem;
}
.aboutText button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px 0px 20px 0px;
  border: none;
  background-color: chartreuse;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1rem;
}
.galleryTxt {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem 0;
}
.gallery {
  background-color: rgb(235, 228, 228);
}
.galleryImg {
  justify-content: center;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.galleryImg img {
  width: 15rem;
}
@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .subHeader {
    background-image: linear-gradient(
        rgba(30, 31, 36, 0.377),
        rgba(4, 9, 30, 0.068)
      ),
      url('../../images/aboutUs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    padding-top: 8rem;
    padding-bottom: 5rem;
    text-align: center;
  }
  .aboutContent {
    display: block;
    align-items: center;
    align-content: center;
    background-color: rgb(235, 228, 228);
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
  }
  .aboutBox img {
    width: 27rem;
  }
  .aboutText {
    overflow: hidden;
    text-align: start;
    width: 30rem;
  }
}

@media (max-width: 450px) {
}
