/* * {
  margin: 0;
  padding: 0;
} */
.orderHead {
  padding-top: 5rem;
  margin-left: 5rem;
  width: 77rem;
  padding-bottom: 2rem;
  height: 21rem;
  background-color: rgb(159, 240, 159);
}
.orderHead h1 {
  font-size: 1.5rem;
  margin-left: 3rem;
  font-weight: 800;
  text-shadow: rgb(0, 0green blue);
}
.orderUserInfo {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  font-size: 1.2rem;
}
.orderHeadTxt {
  display: flex;
  margin: 0;
  gap: 1rem;
}
.orderHeadTxt h5 {
  font-weight: 700;
  margin-right: 10rem;
}

.orderBody {
  width: 77rem;
  margin-left: 5rem;
  /* margin-top: rem; */
  display: flex;
  /* justify-content: space-between; */
  padding-top: 2rem;
  padding-bottom: 4.5rem;
  /* gap: 2rem; */
  overflow: hidden;
}
.orderTable {
  flex: 50%;
  padding: 2rem;
}
.orderBody img {
  width: 5rem;
}
/* .orderBody table {
    width: 80%;
  } */
.orderBody th,
td {
  padding: 5px;
  text-align: left;
  font-size: 1.3rem;
}
thead td {
  font-weight: 600;
}
table {
  width: 100%;
}

/* .placeOrder table { */
/* margin-top: 2rem; */
/* font-family: arial, sans-serif;
    border-collapse: collapse; */
/* width: 100%; */
/* } */
 p {
  font-weight: 550;
}

.placeOrder td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.placeOrder tr:nth-child(even) {
  background-color: #dddddd;
}
.orderBody button {
  margin-top: 1rem;
  width: 18rem;
  cursor: pointer;
  background-color: rgb(159, 240, 159);
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
}
@media (max-width: 768) {
  .orderHead {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 420px) {
}
